Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
decorator==3.4.0
wsgiref==0.1.2
gunicorn==18.0
pdfminer==20140328
HTMLParser==0.0.2
newrelic
requests==2.2.1
regex==2014.04.10
Flask-SQLAlchemy==1.0
psycopg2==2.5.3
Flask-S3==0.1.6
boto==2.27.0
Flask-Assets==0.9
cssmin==0.2.0
closure==20140110
WTForms==1.0.5
WTForms-Components==0.9.2
WTForms-ParsleyJS==0.1.4
Flask-WTF==0.9.5
validators==0.5.0
pycountry==1.6
stripe==1.15.1
MySQL-python==1.2.5
goose-extractor==1.0.17