@import url('http://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
   background-color: #A9D0F5;
   margin-left: 20px;           
}
.spritzer-container {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 80px;
    max-height: 200px;
    background-color: #F0F0F0;
    position: relative
}

h1, p {
	font-family: 'Share Tech Mono';
}

div.outer {
   	width: 100%;
	padding: 0;
	display: table;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}
div.middle {
	padding: 0;
	vertical-align: middle;
	display: table-cell;
	margin: 0;
}

div.inner {
	width: 444px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
}

#uploadPDF, #files {
	display: inline;
	margin-bottom: 20px
}

#posttextarea {
	color: #888888;
	font-family: 'Share Tech Mono';
	padding-bottom:10px;
}

#bigtitle {
	color: inherit;
	text-decoration: none;
}