html {
  position: relative;
  min-height: 100%;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'PT Sans', 'sans-serif';
  background-color: #F0F0F0;
}

/******** MY STUFF ************/

h1 {
  font-size:40pt;
  padding-bottom: 5px;
  font-family: 'PT Mono', '';
}

#pageTitle {
  font-size:24pt;
  font-family: 'PT Mono', '';
}

h2 {
  padding-top: 20px;
  font-size: 200%;
}

.fa { font-family: FontAwesome }

#inputText {
  /*font-family: 'Share Tech Mono', Arial;*/
  max-width: 436px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 0px;
  overflow-y: scroll;
  z-index: -1;
}

#filelimit {
  color:#d9534f;
}

#instructions {
  max-width: 436px;
  margin-left: auto;
  margin-right: auto;
  font-size:12pt;
}

#bigtitle {
  color: inherit;
  text-decoration: none;
}

#welcomeText {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

#formText {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

#progressbar {
  display:none;
}

.btn, .btn-group {
  margin-left: 4px;
}

.form-signin {
  text-align: left;
}

@media screen and (max-width: 480px) {
  #urlentry {
    min-width: 300px;
  }
}

ul {
    list-style-type: none;
}

/*https://kuler.adobe.com/Red-Rose-Sand-color-theme-955060/*/
.nav-pills > li > a:hover {
  background-color: #E1E3E1;
}

/******** MY STUFF ************/


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.jumbotron,
.footer {
  padding-right: 0px;
  padding-left: 0px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Arial';
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  position: absolute;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin-top: 200px;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 690px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 710px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  /*border-bottom: 1px solid #e5e5e5;*/
}
.jumbotron .btn {
  font-family: 'Arial';
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .jumbotron,
  .container,
  {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}