<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Spritz Yo Shit! - Akash Jain</title>
	<link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

	<script type="text/javascript">
		var SpritzSettings = {
				clientId: "afb9145630773e008",
				redirectUri: "http://www.spritzy.us/spritz/login_success",
	   };
	</script>

	<script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>

    <script type="text/javascript" src="../static/js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">

    <script>
		s = "{{text}}"
		$(document).ready(function() {
			$("#inputText").text(jDecode(s));

		});
		function jDecode(str) {
    		return $("<div/>").html(str).text();
		}
	</script>
</head>

<body>

	<div class="outer">
	<div class="middle">
	<div class="inner">

	<center><h1 style="font-family: 'Share Tech Mono';">Spritzy</h1></center>
	<p>
	  	<div id="spritzer"></div>
  	</p>
    
    <p>
	    <textarea id="inputText" rows="12" cols="60"></textarea><br>    
	    <div style="color: #888888; font-family: 'Share Tech Mono'; padding-bottom:10px;">
	    	<center><small>Paste your own text or click the Fill button to load the sample text</small></center>
	    </div>
	    <center>
		    <button id="fill" type="submit">Sample</button>
		    <button id="clear" type="submit">Clear</button>     
		    <button id="startSpritz" type="submit">Spritz!</button>
	    </center>
	</p>

	</div>
	</div>
	</div>

</body>

</html>