<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=0.9, user-scalable=yes">
	<title>Readsy</title>
	
	<script type="text/javascript">
		var SpritzSettings = {
				clientId: "afb9145630773e008",
				redirectUri: "http://www.readsy.co/spritz/login_success"
		 };
	</script>

	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>

	<link rel="stylesheet" href="../static/css/bootstrapcustom.css">

	<script type="text/javascript">
		formString = "{{text}}"
		$(document).ready(function() {
			$("#inputText").text(jDecode(formString));
			if (formString != "")
			{
				$('#bigtitle').attr('href', '{{url_for('index')}}');
			}
		});
		function jDecode(str) {
				return $("<div/>").html(str).text();
		}
	</script>

	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50152323-1', 'readsy.co');
		ga('send', 'pageview');

	</script>
</head>

<body>

	<div class="container" id="content1">
		<div class="header">
				<ul class="nav nav-pills pull-right">
					<li id="list1" class="active"><a id="navbar1" href="#">Home</a></li>
					<li id="list2" class="inactive"><a id="navbar2" href="#about">About</a></li>
					<li id="list3" class="inactive"><a id="navbar3" href="#contact">Contact</a></li>
				</ul>
				<h3 class="text-muted">&nbsp;</h3>
		</div>

		<div class="jumbotron" id="jumbotron">
      <h1><a id="bigtitle">Readsy</a></h1>

			<p>
				<form action="web" method="GET" class="form-inline" role="form">
					<div class="form-group">
					  <label class="sr-only" for="urlentry">Enter URL</label>
					  <input type="text" class="form-control" name="url" id="urlentry" placeholder="Enter URL here"/>
					</div>
					
					<input type="submit" class="btn btn-primary btn-sm" value="Submit URL"/>
				</form>
			</p>

			<p>
				<div id="spritzer"></div>
			</p>
				
			<p>
				<!-- modal code -->
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
					Upload PDF/txt
				</button>

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Upload File to Readsy</h4>
				      </div>
				      <div class="modal-body">
				        <form action="..{{url_for('upload_file')}}" method="post" enctype="multipart/form-data">
						  	<input type="file" name="file" id="files2"/>
						    <!-- <button type="submit">Upload</button>						 -->
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button class="btn btn-primary" type="submit">Upload</button>
				      </div>
				      	</form>
				    </div>
				  </div>
				</div>
				<!-- modal code finish -->

				<textarea class="form-control" rows="6" id="inputText" placeholder="Upload a PDF, paste your own text, or click the Sample button to load the sample text. You may be asked to create an account with Spritzy - it takes about 10 seconds to do!"></textarea><br>   
				
				<div class="btn-group btn-group-lg">
					<button id="fill" type="submit" class="btn btn-primary">Sample</button> 
					<button id="clear" type="submit" class="btn btn-primary">Clear</button>     
				</div>

				<div class="btn-group btn-group-lg">
					<button id="startSpritz" type="submit" class="btn btn-success">Spritz!</button>
				</div>	
			</p>
		</div>

		<div style="display:none" id="aboutme">
			<div class="jumbotron" id="jumbotron">
	      <h1><a id="bigtitle">Akash Jain</a></h1>
	      
          <div class="alert alert-success">
		      <p class="text-left"><small>
		      Bookmarklet is here: <a class="btn btn-info btn-xs" href='javascript:void((function(){var a=location.href.replace(/^http%5C:%5C/%5C/(.*)$/,"$1");location.href="http://www.readsy.co/web?url="+escape(a);})());' onclick="alert('Drag this button onto your toolbar to add the Readsy bookmarklet');return false">Readsy</a>. Drag it onto your favorites bar and click it whenever you're reading a tedious article!
		      </small></p>
          </div>
          <p class="text-left"><small>
	      	<a href="http://akashjain.co.uk">I</a> am a sophomore at Princeton University majoring in Computer Science.<br>
	      </small></p>

	      <p class="text-left"><small>
	      	This is a little experiment to make it easier to read longform content. The backend is made using Flask, and uses APIs and modules from Readability, BeautifulSoup, PDFMiner, Requests, and more. The front end uses Bootstrap 3, HTML5/CSS3, JavaScript/jQuery.
	      </small></p>
			</div>
		</div>

		<div style="display:none" id="contactme">
			<div class="jumbotron" id="jumbotron">
	      <h1><a id="bigtitle">Get In Touch!</a></h1>
	      <p><small>
	      	Email me <a href="mailto:mr.akashj@gmail.com">here</a>
	      </small></p>
			</div>
		</div>
	<!-- close container -->
	</div>

  <div class="footer">
		<center><p style="margin-bottom: 0px;">&copy; 2014 <a href="mailto:mr.akashj@gmail.com">Akash Jain</a></p></center>
  </div>

</body>

</html>