<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=0.9, user-scalable=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="robots" content="NOODP">
	<meta name="description" content="Readsy is an easy way to read large amounts of text in a rapidly comprehensible way.">
	<title>Readsy Test</title>
	
	<script type="text/javascript">
		var SpritzSettings = {
			clientId: "afb9145630773e008",
			redirectUri: "http://" + window.location.host + "/spritz/login_success"
		};
		currentShow = 0;
		allIds = ["#page1","#page2","#page3","#page4","#page5"];
	</script>

	<link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Mono' rel='stylesheet' type='text/css'>
	<link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/static/css/test.css" rel="stylesheet">

	<link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script async type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
	<script type="text/javascript" src="http://parsleyjs.org/dist/parsley.min.js"></script>
	<!-- <script type="text/javascript" src="http://vast-plains-1931.herokuapp.com/static/scripts/parsleyjs/parsley.extend.js"></script> -->

	<script type="text/javascript" src="/static/js/test.js"></script>

	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50152323-1', 'readsy.co');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div class="container" id="content1">
		<div class="header">
				<ul class="nav nav-pills pull-right">
					<li id="list1" class="active"><a id="navbar1" href="#">Test</a></li>
				</ul>
				<h3 id="pageTitle"><a href="/test" style="text-decoration: none;">Readsy Test</a></h3>

		</div>

		
		<div class="jumbotron" id="jumbotron" style="text-align: left;">
			<div id="page1">
      			<p id="welcomeText">Welcome Text</p>
      		</div>

      	<div id="page2">
      		<form method="POST" action="/test" class="form-signin" enctype="multipart/form-data" role="form" id="collectInfo">
			    {{ userSurvey1.country.label }} {{ userSurvey1.country(class="form-control") }}
			    {{ userSurvey1.agerange.label }} {{ userSurvey1.agerange(class="form-control") }}
			    {{ userSurvey1.difficulties.label }} {{ userSurvey1.difficulties() }}
			    {{ userSurvey1.nativelang.label }} {{ userSurvey1.nativelang() }}
			    {{ userSurvey1.deviceused.label }} {{ userSurvey1.deviceused() }}
		</div>

		<div id="page3">
		    	{{ userSurvey1.aq1.label }} {{ userSurvey1.aq1() }}
		    	{{ userSurvey1.aq2.label }} {{ userSurvey1.aq2() }}
		    	{{ userSurvey1.aq3.label }} {{ userSurvey1.aq3() }}
		    	{{ userSurvey1.aq4.label }} {{ userSurvey1.aq4() }}
		    	{{ userSurvey1.aq5.label }} {{ userSurvey1.aq5() }}
		</div>

		<div id="page4">
			<p>
				<div id="spritzer" data-role="spritzer" data-options='{
						"redicleWidth" : 	434,	
						"redicleHeight" : 	135,	
						"defaultSpeed" :    300,
						"speedItems" :      [50, 100, 150, 200, 250, 300, 400, 500, 600, 900],
						"controlTitles" : {
				            "pause" :         "Pause",
				            "play" :          "Play",
				            "back" :          "Previous Sentence"
				        }
					}'>
				</div>
			</p>
			<p>
		    	{{ textSelector.textChooser.label }} {{ textSelector.textChooser(class="form-control") }}
		    </p>
		    <p><a href="#" id="printButton">Print!</a></p>
	    </div>	

	    <div id="page5">
	    		{{ userSurvey1.bq1.label }} {{ userSurvey1.bq1() }}
		    	{{ userSurvey1.bq2.label }} {{ userSurvey1.bq2() }}
		    	{{ userSurvey1.bq3.label }} {{ userSurvey1.bq3() }}
		    	{{ userSurvey1.bq4.label }} {{ userSurvey1.bq4() }}
		    	{{ userSurvey1.bq5.label }} {{ userSurvey1.bq5() }}
		    	<input type="submit" value="Submit" class="btn btn-success">
			</form>
		</div> 

		<button id="nextPage" href="#" onclick="nextPage()" type="button" class="btn btn-default">Next</button>
		<button id="nextPage" href="#" onclick="prevPage()" type="button" class="btn btn-default">Back</button>
		</div>

	<!-- close container -->
	</div>

  <div class="footer" style="margin-top: 100px">
  	<div class="container" id="footercontent" >
		<center><p>&copy; 2014 <a href="mailto:mr.akashj@gmail.com?subject=Readsy%20Feedback">Akash Jain</a></p></center>
	</div>
  </div>

</body>

</html>