<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/css/all.css">
	<link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
	<title>Upload New File</title>
</head>

<body>
	<div class="outer">
	<div class="middle">
	<div class="inner">

	<center>
		<h1>Upload File to be Spritzed</h1>

		<form action="" method=post enctype=multipart/form-data>
		  <p><input type=file name=file>
		     <input type=submit value=Upload>
		 </p>	
		</form>
	</center>

	</div>
	</div>
	</div>

</body>

</html>