<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/css/all.css">
	<title>Upload File to Spritzy</title>
	<script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="https://raw.github.com/lodash/lodash/2.4.1/dist/lodash.compat.min.js"></script>
	<script type="text/javascript" src="../static/js/s3upload.js"></script>
</head>

<body>
	<div class="outer">
	<div class="middle">
	<div class="inner">

	<center>
		<h1>Upload File to be Spritzed</h1>

		<p id="status">Please select a file</p>
		<input type="file" id="files"/>
		<form action="" method="post" enctype="multipart/form-data">
		  <p>
		  	<input type="file" name="file" id="files2"/>
		    <input type="submit" value="Upload + Go!">
		 </p>	
		</form>
	</center>

	</div>
	</div>
	</div>
	<script>
		function s3_upload(){
		    var s3upload = new S3Upload({
		        file_dom_selector: '#files',
		        s3_sign_put_url: '/sign_s3/',
		        onProgress: function(percent, message) {
		            $('#status').html('Upload progress: ' + percent + '% ' + message);
		        },
		        onFinishS3Put: function(public_url) {
		            $('#status').html('Upload completed!');
		            var s = $('input[type=file]').val().split('\\').pop();

		            url = "\/spritzy\/" + s;
		            console.log(url);
		            location.assign(url);
		            // Uploaded to: '+ public_url);
		            // $("#avatar_url").val(public_url);
		            // $("#preview").html('<img src="'+public_url+'" style="width:300px;" />');
		        },
		        onError: function(status) {
		            $('#status').html('Upload error: ' + status);
		        }
		    });
		}

		$().ready(function() {
		    $('#files').on("change", s3_upload);
		});
	</script>
</body>

</html>